<div class="card mb-3" onclick="{% unless include.page.inprogress %}location.href='{{ site.baseurl }}{{ include.page.url }}';{% endunless %}" style="cursor: {% if include.page.inprogress %}default{% else %}pointer{% endif %};">
  <div class="row g-0">
    <div class="col-sm-6 col-md-4">
      <img src="{{ site.baseurl }}/{{ include.page.image }}" height="225px" class="rounded-start">
    </div>
    <div class="col-sm-6 col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ include.page.title }}</h5>
        <p class="card-text">{{ include.page.summary }}</p>
        <p>
          {% for label in include.page.labels %}
          <span style="background-color: var(--tf-pill-bg)" class="badge rounded-pill">{{ label }}</span>
          {% endfor %}
        </p>
        {% if include.page.inprogress %}
        <a class="btn btn-outline-secondary disabled" aria-disabled="true">In Progress</a>
        {% elsif page.projecturl %}
        <a href="{{ page.projecturl }}" class="btn btn-outline-dark">Project Site</a>
        {% else %}
        <a href="{{ site.baseurl}}{{ include.page.url }}" class="btn btn-outline-dark">Read More</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
